*.pyc
*.x
*.o
*.agmpc.txt
*.bc
*.sch
.*.py
*.a
*~
agmpc.txt
agmpc.txt.input
agmpc.txt.output
agmpc.output
f0
Input_Data/gen_data_dt.py
Programs/test_dt/test_dt.mpc
emp-agmpc/emp-agmpc/cmpc_config.h
Input_Data/hash_map_*
Input_Data/winequality-*
Input_Data/data*
Input_Data/credit_card.xls
Input_Data/gen_data_*.py
