asn1crypto==0.24.0
astor==0.8.1
astunparse==1.6.3
cryptography==2.1.4
decorator==4.4.2
enum34==1.1.6
gmpy2==2.0.8
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
networkx==2.2
numpy==1.16.6
ordered-set==3.1.1
pathlib==1.0.1
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
